.form-group {
    background-color: #0b3661;
    color: white;
   padding: 20px;
    
}
label {
    padding-right: 1rem;
    text-align: left;
    margin-bottom: 15px;
}
input, textarea, select{
    width: 300px;
    padding: 10px;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    margin-bottom: 15px;
    display: inline-block;
}
.form-group > button {
    background-color: darkolivegreen;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 10px;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    
        
}
.form-group > div label {
    width: 200px;
}
.form-group > div {
    display: flex;
    justify-content: flex-start;
}