
.animalCard {
    /* display: inline-block; */
    
    /* width: 350px; */
    
    border-radius: 10px;
    box-shadow: 0 0 5px #333;
    margin: 30px;
    background-color: rgb(212, 207, 207);
}
.animalCard img {
    height: 200px;
}
